{{> welcome-menu}}
<div class="columns is-vcentered">
    <div class="column is-two-thirds">
    </div>
    <div class="column">

    </div>
</div>

<div class="columns">
    <div class="column has-text-centered">
        <img width="600" src="images/band.jpg">
    </div>
    <div class="column">
        <div class="box">
            <h1 class="title">Log in</h1>
            {{> login-form }}
        </div>
    </div>
</div>