<nav class="navbar">
  <div class="navbar-brand">
    {{> playtime-brand}}
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            <a id="add" class="button" href="/add"> Add Venue </a>
            <a id="report" class="button" href="/report"> Report </a>
            <a id="logout" class="button" href="/logout"> Logout </a>
        </div>
      </div>
    </div>
  </div>
</nav>


